name: Setup Bun
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        bun-version:
          - latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v3
      - id: setup-bun
        name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{ matrix.bun-version }}
      - id: verify-bun
        name: Verify Bun
        run: |
          bun --version
      - id: bun-test
        name: Bun Test
        run: |
          bun test
  typecheck:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v3
      - id: setup-bun
        name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - id: install-bun
        name: Bun Install
        run: |
          bun install
      - id: type-check
        name: Typecheck
        run: |
          bunx  tsc --noEmit
